</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>All artwork originally created by Jyotsna Pandit <br><a href='https://www.instagram.com/jyotsna_art/'>Instagram</a></p>
  </div>
</div>
</body>
</html>
