<%- include("partials/header") %>

<div class="aboutBox">
    <p class="aboutText"><%= aboutContent %></p>
</div>
<!-- <h4 class="pageContent"><%= aboutContent %></h4> -->
<%- include("partials/footer") %>