<%- include("partials/header2") %>

<p class="pageContent">Please register first!</p>

<form action="/error" method="post">
    <button class="myButton" type="submit">Back</button>
</form>


<%- include("partials/footer") %>