<%- include("partials/header2") %>

<h4 class="pageContent"><%= exitContent %></h4>
<br>
<form action="/comminput2" method="post">
    <button class="myButton leavecomm" type="submit">Leave a comment</button>
</form>
<br>
<form action="/back" method="post">
    <button class="myButton" type="submit">Back</button>
</form>


<%- include("partials/footer") %>